{% extends 'base.html' %}
{% load static %}



{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/admin">Magazyn</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Moje towary
          </li>
        </ol>
      </nav>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Produktu, których stan na magazynie jest mniejszy niż 10 jednostek</h1>
      <table class="table table-bordered">
          <thead>
              <tr>
                  <th>Nazwa produktu</th>
                  <th>Jednostka</th>
                  <th>Łączna ilość jednostek na stanie</th>
                  <th>Łączna wartość netto[PLN]</th>
                  <th>Łączna wartość brutto[PLN]</th>
              </tr>
          </thead>
          <tbody>
              {% for item in lack_products %}
                  <tr>
                    <td>{{ item.product__name}}</td>
                    <td>{{ item.product__unit}}</td>
                    <td>{{ item.total_quantity }}</td>
                    <td>{{ item.total_netto }}</td>
                    <td>{{ item.total_brutto }}</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="col-md-8">
    <h1>Magazyn</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Jednostka</th>
                <th>Łączna ilość jednostek na stanie</th>
                <th>Łączna wartość netto[PLN]</th>
                <th>Łączna wartość brutto[PLN]</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                  <td>{{ item.product__name}}</td>
                  <td>{{ item.product__unit}}</td>
                  <td>{{ item.total_quantity }}</td>
                  <td>{{ item.total_netto }}</td>
                  <td>{{ item.total_brutto }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>




</script>



{% endblock content %}
