{% load static %}
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'Start' %}">
          <span data-feather="home"></span>
          Start <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Magazyn' %}">
          Magazyn
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Sprzedaz' %}">
          Sprzedaż
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Dashboard' %}">
          Dostawy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Dashboard' %}">
          Księgowość
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Produkty' %}">
          Produkty
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Dashboard' %}">
          Dashboard
        </a>
      </li>
    </ul>
  </div>
</nav>
